<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>手势密码</string>
		<key>targetVC</key>
		<string>HLGestureViewController</string>
		<key>detailInfos</key>
		<string>gesturePassword.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>雷达动画</string>
		<key>targetVC</key>
		<string>HLRedaController</string>
		<key>detailInfos</key>
		<string>reda.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>眼睛绘制动画</string>
		<key>targetVC</key>
		<string>HLEyeViewController</string>
		<key>detailInfos</key>
		<string>gesturePassword.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>数据库</string>
		<key>targetVC</key>
		<string>HLDataViewController</string>
		<key>detailInfos</key>
		<string>http://www.jianshu.com/p/af6994627a40</string>
	</dict>
	<dict>
		<key>title</key>
		<string>动态创建列的tableView</string>
		<key>targetVC</key>
		<string>HLCollectionTableViewController</string>
		<key>detailInfos</key>
		<string>http://www.jianshu.com/p/af6994627a40</string>
	</dict>
	<dict>
		<key>title</key>
		<string>自定义各种label</string>
		<key>targetVC</key>
		<string>HLCustomLabelViewController</string>
		<key>detailInfos</key>
		<string>http://www.jianshu.com/p/99f31c05969c</string>
	</dict>
	<dict>
		<key>title</key>
		<string>通讯录和搜索</string>
		<key>targetVC</key>
		<string>HLAddressBookViewController</string>
		<key>detailInfos</key>
		<string>http://www.jianshu.com/p/99f31c05969c</string>
	</dict>
	<dict>
		<key>title</key>
		<string>tableView的先关操作</string>
		<key>targetVC</key>
		<string>HLEditingTableViewController</string>
		<key>detailInfos</key>
		<string>http://www.jianshu.com/p/99f31c05969c</string>
	</dict>
	<dict>
		<key>title</key>
		<string>绘图</string>
		<key>targetVC</key>
		<string>HLHLDrawController</string>
		<key>detailInfos</key>
		<string>http://blog.csdn.net/u013346305/article/details/50896308</string>
	</dict>
	<dict>
		<key>title</key>
		<string>window有关的操作</string>
		<key>targetVC</key>
		<string>HLWindowViewController</string>
		<key>detailInfos</key>
		<string>window.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>排序的几种方法</string>
		<key>targetVC</key>
		<string>HLSortMethodViewController</string>
		<key>detailInfos</key>
		<string></string>
	</dict>
</array>
</plist>
